createdAt: "2018-04-20T12:39:55.577Z"
updatedAt: "2018-04-29T15:35:58.076Z"
type: "MARKDOWN_NOTE"
folder: "6ea38810de8e4ec8497c"
title: "VLAN"
content: '''
  # VLAN
  
  VLAN allows to have multiple networks employed only on a single physical infrastructure.
  
  From now on, we will speak about layer 1 of the TCP/IP stack: the Link Layer.
  
  At this layer, we find 2 kind of devices:
  
  - hub: forwards frames on all interfaces
  - switch: forwards frames *only* on specific interfaces (using the MAC forwarding table)
  
  #### MAC forwarding table
  
  switches automatically learn how the network is by matching the source of the frame with the receiving interface.
  If a switch does not know where to send a frame, it acts as a hub.
  
  
  ## Switch configuration
  
  It is very similar to the one seen for the router. It's called a plug-and-play because it is not necessary to configure the switch to have a running network. The configuration is reserved for advanced purposes.
  
  Configuration is done by assigning an IP address to the switch.
  
  Why we need an IP address? The only reason is being able to remotely connect to the switch.
  
  How to assign an IP address to the switch?
  
  The difference wrt routers is that we assign a single IP address to the whole switch, instead in a router we assign an IP address to each interface.
  
  *Command guide*
  in `configuration mode`:
  
  - `interface vlan [2-99]`: create a virtual interface
    - `ip address <ip_address> <subnet_mask>`: assign the IP address to the interface
    - `no shutdown`: enable the interface
  
  ###### VLAN advantages
  
  - security
  - cost saving
  - reduction of broadcast traffic
  
  ## VLAN configuration
  
  **NOTE**: all switches must know all the existing VLANs
  
  *Command guide*
  in `configuration mode`:
  
  - `vlan <id>`: assign an identifier to the VLAN
  - `name <name>`: assign a name to the VLAN (not mandatory) 
  
  VLAN 1 is the default one.
  
  Access Ports: ports directly connected to a single VLAN
  Trunk Ports: ports connected to many VLANs
  
  ### Access port configuration
  
  *Command guide*
  in `configuration mode`:
  
  - `interface <interface>`
  - `switchport mode access`
  - `switchport access vlan <id>`
  
  ###### How a switch can evaluate a frame received through a trunk port for the correct VLAN?
  
  The standard Ethernet header should be extended with a control tag.
  
  ### Trunk port configuration
  
  *Command guide*
  in `configuration mode`:
  
  - `interface <interface>`
  - `switchport mode trunk`
  - `switchport trunk native vlan <id>`: define the VLAN for management
  - `switchport trunk allowed vlan <y-z>`: allow only a subset of VLANs on a trunk port
  
  ### Check configuration
  
  - `show vlan brief`: show general configuration of VLANs
  - `show interface <interface> switchport`: see whether the interface is an access port or a trunk one
  
  
'''
tags: []
isStarred: false
isTrashed: false
