createdAt: "2018-01-19T12:11:08.345Z"
updatedAt: "2018-01-19T12:11:17.373Z"
type: "MARKDOWN_NOTE"
folder: "d5841d5890db3062d38d"
title: "common commands"
content: '''
  # common commands
  #### spawn TTY shell
  `python -c 'import pty; pty.spawn("/bin/sh")'`
'''
tags: []
isStarred: false
isTrashed: false
