createdAt: "2019-05-06T17:49:46.943Z"
updatedAt: "2019-05-06T17:50:04.254Z"
type: "MARKDOWN_NOTE"
folder: "77810edb34ca382924fc"
title: "Docker"
tags: []
content: '''
  # Docker
  
  ## commands
  - `docker image ls`: list images
  - `docker container ls`: list _active_ containers (with `-a` list all containers)
  - `docker rm %container_id%`: delete container with id=`%container_id%`
  - `docker rmi %image_id%`: delete image with id=`%image_id%`
  - `docker run --name=%name% %image% [command]`: crete container with name `%name%` from image `%image%`
    - `--rm`: delete container after termination
    - `-ti` : interactive terminal (tty)
    - `-v local_folder:docker_folder`: mount `local_folder` in `docker_folder`
    - `ctrl-p-q`: detach from container
  - `docker attach %container%`: attach to running container
  - `docker start %container%`: start a stopped container
  - `docker kill %container%`: stop a running container
  - `docker commit -m "Message" -a "Author Name" [containername] [imagename]`: create an image from container
  
  ### push docker image on docker hub
  - `docker login --username=[username]`: first login
  - `docker tag [image id] [username]/[image name]:[tag]`: tag the image
  - `docker push [username]/[image name]`: push the image
'''
linesHighlighted: []
isStarred: false
isTrashed: false
