createdAt: "2019-03-23T10:24:42.039Z"
updatedAt: "2019-03-23T10:27:40.518Z"
type: "MARKDOWN_NOTE"
folder: "d5841d5890db3062d38d"
title: "Packing"
tags: []
content: '''
  # Packing
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
