createdAt: "2018-01-15T12:51:30.518Z"
updatedAt: "2018-05-06T17:59:53.462Z"
type: "MARKDOWN_NOTE"
folder: "4c8a94761a2196059488"
title: "C tricks"
content: '''
  # C tricks
  ##### Initialize string matrix
  ``` C
  int main(int argc, char* argv[]) {
      // [...]
      char* cmd[] = { argv[1], argv[2], NULL };
      // cmd contains the first 2 arguments of the executable!
  }
  ```
  ##### ASM inline
  ``` C
  #include <stdio.h>
  
  void swap(long* a, long* b);
  asm(" \\
      .globl swap      \\n \\
      swap:            \\n \\
          pushq (%rdi) \\n \\
          pushq (%rsi) \\n \\
          popq  (%rdi) \\n \\
          popq  (%rsi) \\n \\
          ret\\n");
  
  int main() {
      long a=1, b=2;
      swap(&a, &b);
      printf("a:%ld, b:%ld\\n", a, b);
      return 0;
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
