createdAt: "2018-01-15T12:51:30.518Z"
updatedAt: "2018-01-15T12:56:56.270Z"
type: "MARKDOWN_NOTE"
folder: "4c8a94761a2196059488"
title: "C tricks"
content: '''
  # C tricks
  ##### Initialize string matrix
  ``` C
  int main(int argc, char* argv[]) {
      // [...]
      char* cmd[] = { argv[1], argv[2], NULL };
      // cmd contains the first 2 arguments of the executable!
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
