type: "MARKDOWN_NOTE"
folder: "d5841d5890db3062d38d"
title: "hashcat"
content: '''
  # hashcat
  `hashcat -m 500 passwordfile dictionary.txt`
  
  - 1800 for sha512 unix
  - 7400 for sha256 unix
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-31T14:50:32.374Z"
updatedAt: "2017-10-31T14:52:52.187Z"
