type: "MARKDOWN_NOTE"
folder: "d5841d5890db3062d38d"
title: "netcat common commands"
content: '''
  # netcat common commands
  
  `nc -l -p 1234`: listen on port 1234
  
  ##### send a file using netcat
  - `nc -l -p 1234 > out.file` : on receiving side
  - `nc -w 3 [destination_ip] 1234 < out.file`: on sender side
'''
tags: [
  "netcat"
  "file_send"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-31T14:08:30.016Z"
updatedAt: "2017-10-31T14:11:30.593Z"
