createdAt: "2019-03-20T10:43:35.732Z"
updatedAt: "2019-03-20T10:43:52.392Z"
type: "MARKDOWN_NOTE"
folder: "7180c251cc0f0c61d2d1"
title: "3 - Cache Coherence"
tags: []
content: "# 3 - Cache Coherence"
linesHighlighted: []
isStarred: false
isTrashed: false
