createdAt: "2018-01-09T15:25:24.501Z"
updatedAt: "2018-01-09T15:26:04.515Z"
type: "SNIPPET_NOTE"
folder: "a70e6c6c246ebd34db24"
title: "limit memory"
description: "limit memory"
snippets: [
  {
    name: "limit_memory.py"
    mode: "Python"
    content: '''
      import sys
      import resource
      
      MEMORY_LIMIT = 1024 * 1024 * 1024 * 10 # 10 GiB
      
      def memory_limit():
          soft, hard = resource.getrlimit(resource.RLIMIT_AS)
          resource.setrlimit(resource.RLIMIT_AS, (MEMORY_LIMIT, MEMORY_LIMIT))
      
      if __name__ == '__main__':
          memory_limit() # Limitates maximun memory usage to MEMORY_LIMIT
          # do stuff
          except MemoryError:
              sys.stderr.write('\\n\\nERROR: Memory Exception\\n')
              sys.exit(1)
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
