createdAt: "2019-10-29T10:46:16.976Z"
updatedAt: "2019-10-30T15:40:31.267Z"
type: "SNIPPET_NOTE"
folder: "4c8a94761a2196059488"
title: "count instructions using perf"
tags: []
description: "count instructions using perf"
snippets: [
  {
    linesHighlighted: []
    name: "monitor_inst.c"
    mode: "C"
    content: '''
      #include <stdlib.h>
      #include <stdio.h>
      #include <unistd.h>
      #include <string.h>
      #include <sys/ioctl.h>
      #include <linux/perf_event.h>
      #include <asm/unistd.h>
      
      static int fd;
      FILE* __file_stats = 0;
      
      static long
      perf_event_open(struct perf_event_attr *hw_event, pid_t pid,
                     int cpu, int group_fd, unsigned long flags) {
          int ret;
          ret = syscall(__NR_perf_event_open, hw_event, pid, cpu,
                          group_fd, flags);
          return ret;
      }
      
      void init_count() {
          struct perf_event_attr pe;
      
          memset(&pe, 0, sizeof(struct perf_event_attr));
          pe.type = PERF_TYPE_HARDWARE;
          pe.size = sizeof(struct perf_event_attr);
          pe.config = PERF_COUNT_HW_INSTRUCTIONS;
          pe.disabled = 1;
          pe.exclude_kernel = 1;
          pe.exclude_hv = 1;
      
          fd = perf_event_open(&pe, 0, -1, -1, 0);
          if (fd == -1) {
              fprintf(stderr, 
                  "Error opening leader %llx\\n", pe.config);
              fprintf(stderr, 
                  "execute \\"echo -1 | sudo tee /proc/sys/kernel/perf_event_paranoid\\"\\n");
              exit(EXIT_FAILURE);
          }
      }
      
      void start_count() {
          ioctl(fd, PERF_EVENT_IOC_RESET, 0);
          ioctl(fd, PERF_EVENT_IOC_ENABLE, 0);
      }
      
      void stop_count() {
          ioctl(fd, PERF_EVENT_IOC_DISABLE, 0);
      }
      
      void read_count(unsigned long long* count) {
          read(fd, count, sizeof(unsigned long long));
      }
      
    '''
  }
  {
    name: "monitor_inst.h"
    mode: "C"
    content: '''
      #ifndef MONITOR_INST
      #define MONITOR_INST
      
      #include <stdio.h>
      extern FILE* __file_stats;
      
      #define INIT_STATS_FILE()                               \\
          if (EnablePerfInstructionMonitoring) {              \\
              __file_stats = fopen(                           \\
                  "./klee-last/insts_stats.csv", "a");        \\
          }
      
      #define CLOSE_STATS_FILE()                              \\
          if (EnablePerfInstructionMonitoring) {              \\
              fclose(__file_stats);                           \\
          }
      
      #define INIT_COUNTER()                                  \\
          if (EnablePerfInstructionMonitoring) {              \\
              init_count();                                   \\
          }
      
      #define START_COUNTER()                                 \\
          if (EnablePerfInstructionMonitoring) {              \\
              start_count();                                  \\
          }
      
      #define DUMP_COUNTER(uniq)                              \\
          do {                                                \\
              unsigned long long __count_##uniq;              \\
              if (EnablePerfInstructionMonitoring) {          \\
                  stop_count();                               \\
                  read_count(&__count_##uniq);                \\
                  fprintf(                                    \\
                      __file_stats,                           \\
                      "%s;%lld\\n",                            \\
                      #uniq,                                  \\
                      __count_##uniq);                        \\
              }                                               \\
          } while (0);
      
      void init_count();
      void start_count();
      void stop_count();
      void read_count(unsigned long long* count);
      
      #endif
      
    '''
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: false
