createdAt: "2018-01-31T09:09:41.266Z"
updatedAt: "2018-01-31T10:05:03.383Z"
type: "MARKDOWN_NOTE"
folder: "93deb8b1123d35747ed4"
title: "angr"
content: '''
  # angr
  interessanti:
  - group (molte concretizzazioni)
  - join (scritture simboliche!!!!!! in KLEE non ci sono, indagare)
  
  non interessanti:
  - id (no scriture/letture simboliche). indagare coverage
'''
tags: []
isStarred: false
isTrashed: false
