createdAt: "2018-04-20T12:59:13.623Z"
updatedAt: "2018-04-20T12:59:34.870Z"
type: "MARKDOWN_NOTE"
folder: "6ea38810de8e4ec8497c"
title: "Switch configuration"
content: '''
  # Switch configuration
  
  //todo
'''
tags: []
isStarred: false
isTrashed: false
