createdAt: "2019-09-03T14:35:31.105Z"
updatedAt: "2019-09-03T14:35:36.527Z"
type: "MARKDOWN_NOTE"
folder: "f055e6973cea5fa24def"
title: "Automation for binar analysis copy"
content: '''
  # Automation for binar analysis
  #### Mariano Graziano
  
  
'''
linesHighlighted: []
tags: []
isStarred: false
isTrashed: true
